/*CSS DOCUMENT FOR A CONTACT PAGE BY Moira Rariden*/

body{background-color:#36454f;}

nav{float:left;
max-width;200px
margin:0;
padding:1em;}

nav li{float: left;}

nav ul{list-style-type:none;
margin:0;
padding:0;
overflow: hidden;}

nav li a {display:inline-block;
text-align:center;
padding:14px 16px;
color:black;
text-decoration:none;}
 
.allabtart h1{
text-align:center;
font-size:40pt;
}

.current a{text-align:center; 
font-family: helvetica;
color:#36454f;}

.abtus {text-align:center;
font-family: helvetica;
color:#36454f;}

.whywe {text-align:center;
font-family: helvetica;
color:#36454f;}

.intro {text-align:center;
font-family: helvetica;
color:#36454f;}

.prsnlart {text-align:center;
font-family: helvetica;
color:#36454f;}


td{text-align:left; 
font-family: helvetica;}

h1 {font-family: helvetica;}

div{background-color:#708090 ;
width: 80%;
 border: solid black thin;
 margin: auto;}


ul{list-style-type: none; 
margin: 0;
padding: 0;
overflow: hidden;
background-color: #536872;}

li{float: left;}

li a{display: inline-block; 
color: white;
text-align: center; 
padding: 14px 16px;
text-decoration: none;}

li a:hover{background-color: #b2ddff;}

li.current{background-color: #58100C;}

h2{font-family: helvetica; 
color:#722f37;}

section{padding: 5px;}

hr {width: 80%;}

footer{text-align: center;}


table{width: 70%;
border-collapse: collapse;
margin:auto;}

td, th{border: 2px solid black;
}

tr:nth-child(even){background-color: #708090;}

tr:nth-child(odd){background-color: #b2ddff;}


caption{font-weight: old; 
font-size: 18pt;}


.fling-minislide {width: 100%;
height: 0px;
overflow: hidden;
position: relative;
padding-bottom: 50%;}

.fling-minislide img{position: absolute;
animation: fling-minislide 20s infinite;
opacity: 0;
width: 75%;
height: auto;}

@keyframes fling-minislide{25% {opacity: 1; } 40% {opacity:0;}}
.fling-minislide img:nth-child(4){animation-delay: 0s;}
.fling-minislide img:nth-child(3){animation-delay: 5s;}
.fling-minislide img:nth-child(2){animation-delay: 10s;}
.fling-minislide img:nth-child(1){animation-delay: 15s;}

.slideshowpic{width: 100%; 
height: auto;}

.vid {text-align: center;
font-size:40pt;}

.video_container {position: relative;
padding-bottom: 50%;
padding-top: 25px;
height: 0;
overflow: hidden;}

iframe, ._video_container object{border: none;
position: absolute;
top: 0;
left: 300px;
width: 75%;
height: 75%;}

.pagebox {background-color: #fff;
width: 70%;
margin: auto;}

p {text-align:center;
font-family: helvetica;}

h1 {text-align:center;
font-family: helvetica;}

h2 {text-align:center;
font-family: helvetica;}

.cntct {text-align:center;
font-size: 40pt;
font-family: helvetica;}
@media only screen and (max-width: 600px){
		.pagebox{width: 98%;}
		nav{width:100%;
		overflow:hidden;
		padding:none;}
		
		a{width:100%;
		display:block;
		text-align: center;
		background-color: #6D3939;
		border-style: solid;
		border-width: 1px;
		border-color: #809292;}
		
		li{width:100%;}
		
		li a{padding-left:0px;}
		
		.smallpic{width:100%;
		padding:0px;}
		
		audio{width:100%;}
		.slideshowarticle{display:none;}
		
		p(font-size:16pt;}